/* 
Colors guide: 
	
	Page backgrounds/borders
	#226666 (Blue 0)
	#003333 (Blue 4)
	
	Top header
	#88CC88 (Green 1)
	#116611 (Green 3)
	
	Page content
	#FFE3AA (Brown 1)
	#AA8439 (Brown 0)
	#D4B16A (Brown 2)
	#804515 (Sepia 4)
	#AA6C39 (Sepia 0)
	
	Other
	302E29 (Dark grey)
	
*/

/*body*/

body {
	background-color: #226666;
	font-family: "Droid Sans", "Cambay", sans-serif;
}

/*main information*/
#header {
	background-color: #88CC88;
	border: 3px;
	border-color: #003333;
	border-style: solid;
}

h1 {
	color: #116611;
	margin-right: 10px;
	font-family: "Liberation Serif", serif;
	font-size: 30px;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: center
}

h2 {
	color: #AA6C39;
	margin-right: 10px;
	font-size: 16px;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: center;
}

/*section headers*/

.section {
	background-color: #F0EBE6;
	border: 3px;
	border-color: #003333;
	border-style: solid;
}

h3 {
	color: #805C15;
	margin-left: 10px;
	font-size: 18px;
}

h4 {
	color: #805C15;
	margin-left: 10px;
	font-size: 14
}

/*lists*/

ul {

	list-style-type: square;
}

ul ul {
	list-style-type: circle;
}

#floatleft {
	float: left;
}

#floatright {
	float: right;
}